[user]
	email = ashish.panigrahi@protonmail.com
	name = Ashish Panigrahi

[core]
    editor = "nvim"

[init]
	defaultBranch = main

[merge]
	tool = vimdiff

[mergetool "vimdiff"]
    cmd = nvim -d

[url "git@github.com:"]
	insteadOf = https://github.com/
