[user]
	email = ashish.panigrahi@protonmail.com
	name = Ashish Panigrahi

[core]
    editor = "nvim"
	autocrlf = input

[init]
	defaultBranch = main

[merge]
	tool = vimdiff

[mergetool "vimdiff"]
    cmd = nvim -d

[url "git@github.com:"]
	insteadOf = https://github.com/
[safe]
	directory = /home/ashish/misc/neovim-nightly
[protocol "file"]
	allow = always
