#!/bin/sh

# This file runs when a DM logs into a graphical session
# If you use startx/xinit like a Chad, this file will also be source

redshift -P -O 4000
mpd &		# starts music player daemon
picom &		# starts compositor
dunst &		# starts notification daemon
remaps &	# maps caplock to escape
xwallpaper --zoom /home/ashish/.config/wall.png & 	# sets wallpaper
nm-applet & 	# starts nm-applet
unclutter &	# removes mouse cursor when not in use
sleep 5 && dwmblocks &	# statusbar
