#!/bin/sh

# This file runs when a DM logs into a graphical session
# If you use startx/xinit like a Chad, this file will also be sourced

redshift -P -O 4000
mpd &		# starts music player daemon
/usr/bin/pipewire &
/usr/bin/pipewire-pulse &
/usr/bin/wireplumber &
nm-applet & 	# starts nm-applet
picom &		# starts compositor
dunst &		# starts notification daemon
remaps &	# maps caplock to escape
xwallpaper --zoom /home/ashish/.config/wall.png & 	# sets wallpaper
unclutter &	# removes mouse cursor when not in use
sleep 3 && dwmblocks &	# statusbar
xset -b   # disables annoying beep sound
sleep 3 && headphonedetect &  # detects headphones' status (plugged or unplugged)
kill "$(pgrep nm-applet | sed '1d')" &
